@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-[20px] leading-relaxed text-[#f5f6f7] font-sans bg-[#181818] bg-repeat;
        background-image: url('./css-images/tile.gif');
    }

    h1 {
        @apply text-[2.5rem];
    }

    h2 {
        @apply text-[2rem];
    }

    h3 {
        @apply text-[1.75rem];
        @apply font-bold;
        @apply pb-4;
    }

    p + p {
        @apply mt-4;
    }

    p + h3 {
        @apply mt-4;
    }

    abbr[title] {
        position: relative;
        text-decoration: underline dotted;
    }

    abbr[title]:hover::after,
    abbr[title]:focus::after {
        content: attr(title);

        position: absolute;
        left: 0;
        bottom: -30px;
        width: auto;
        white-space: nowrap;

        background-color: #1e1e1e;
        color: #fff;
        border-radius: 3px;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
        font-size: 14px;
        padding: 3px 5px;
        z-index: 10;
    }
}